<p id="notice"><%= notice %></p>
<br/>
<center><h2><%= @pass.name %></h2></center>
<hr/>

<p>
  <b>Altitude:</b>
  <%= @pass.altitude %> metri
</p>

<p>
  <b>Latitude:</b>
  <%= @pass.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @pass.longitude %>
</p>

<% if current_user %>

  <br/>

  <%= link_to command_label('fa fa-edit', "Edit"), 
      edit_pass_path(@pass), :class=> "btn btn-primary" %>

  <%= link_to command_label('fa fa-trash-o', "Destroy"), 
      @pass, method: :delete, data: { confirm: 'Are you sure?' }, 
      :class => "btn btn-danger" %>
<% end %>
<br/><br/>
<%= render "localities/index" %>
